{% extends 'base.html.twig' %}

{% block body %}
    <h1>Restaurant</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ restaurant.id }}</td>
            </tr>
            <tr>
                <th>Restaurantname</th>
                <td>{{ restaurant.restaurantName }}</td>
            </tr>
            <tr>
                <th>Descriptions</th>
                <td>{{ restaurant.descriptions }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('restaurant_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('restaurant_edit', { 'id': restaurant.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
